        <div class="px-4 py-3 flex items-center gap-4  hover:bg-primary-container/10 cursor-pointer transition-all h-[72px]"
            [ngClass]="{
                'border-l-4 border-primary bg-primary-container/5' : selected
            }">   <!-- selected effect -->
            <div class="relative flex-shrink-0">
                <img class="w-12 h-12 rounded-full object-cover" data-alt="A high-quality portrait of Alex Rivers, showing a person with short brown hair and a kind expression, wearing a minimalist white t-shirt. The background is a soft, out-of-focus modern office space with cool blue and white tones. Professional studio lighting emphasizes clarity and a clean, high-tech aesthetic." src="https://lh3.googleusercontent.com/aida-public/AB6AXuC2as2c0l2-RPDODjXNOzJMC7Fkprq-Sj54OqdxwCidaGjM0KSVHtPmDEP6scfil80BySV8syXeZ1t2xpEYtpmaAeDi5dtU8mqUOo2fQPEHqxOvkycNW7P_f--c6KWKSgbmyDKRLvpG0RDJP4szEFq2NgLQMFUTv1AyvJb2oY0KrkTOnP6BDTzyYGp-N41ZVIo1QuBC9Xr9Az553wpqeN4k05vOQpplQvO25umwvFxNeS8HWuJuoE77uw_5lDIl3dVtkYsBu-M7bhos">
                    <span class="absolute bottom-0 right-0 w-3 h-3 bg-[#00CED1] border-2 border-white rounded-full"></span>
                        </div>
                            <div class="flex-1 min-w-0">
                                <div class="flex justify-between items-baseline">
                                 <h3 class="text-label-md text-on-surface truncate">Alex Rivers</h3>   <!-- Conversation name -->
                            <span class="text-[10px] text-on-surface-variant">2m ago</span>   <!-- message time -->
                        </div>
                    <p class="text-caption text-on-surface-variant truncate font-medium">Sounds like a plan! Let's sync...</p>  <!-- message content -->
                </div>
            <div class="w-5 h-5 bg-primary-container text-amber-50 text-whit9,e text-[10px] flex items-center justify-center rounded-full font-bold">2</div>  <!-- notification message counter -->
        </div>